.s1, .s4, .s5, .s6, .s7, .s8, .s2, .s3{
	background: url(sprites.png) no-repeat;
}

.s1{
	background-position: -9px -16px ;
	width: 83px;
	height: 21px;
}

.s4{
	background-position: -220px -62px ;
	width: 59px;
	height: 21px;
}

.s5{
	background-position: -317px -21px ;
	width: 77px;
	height: 13px;
}

.s6{
	background-position: -415px -61px ;
	width: 57px;
	height: 27px;
}

.s7{
	background-position: -472px -22px ;
	width: 61px;
	height: 14px;
}

.s8{
	background-position: -556px -70px ;
	width: 72px;
	height: 13px;
}

.s2{
	background-position: -51px -65px ;
	width: 97px;
	height: 14px;
}

.s3{
	background-position: -161px -22px ;
	width: 77px;
	height: 21px;
}

