* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1000px;
    min-height: 100vh;
    /*height: 1310px;*/
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

header {
    display: flex;
    padding: 17px 52px 10px 52px;
    justify-content: space-around;
    align-items: center;
}

.phone p {
    font-family: arial, sans-serif;
    color: #5e696d;
    font-size: 18px;
    letter-spacing: 1px;
}

.phone i {
    color: #114266;
}

.reg form {
    height: 25px;
    width: 495px;
    display: flex;
    background-color: #164f71;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgba(193, 193, 193, 0.5);
    background: linear-gradient(to bottom, #1f6787, #0c3357);
}

.reg i{
    color: #fff;
    margin: 4px 0 3px 7px;
}

.reg input[type="text"],
.reg input[type="password"] {
    width: 107px;
    height: 14px;
    border: 1px solid #82949c;
    border-radius: 2px;
    margin: 3px;
    padding-left: 4px;
    vertical-align: middle;
    font-family: 'Lucida Sans Unicode Regular', sans-serif;
    font-size: 11px;
}

.reg a {
    font-family: arial, sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: #fff;
    margin: 3px;
}

.reg {
    color: #fff;
}

.reg .fpass a {
    font-family: 'Lucida Sans Unicode Regular', sans-serif;
    text-decoration: underline;
    color: #bfbfbf;
    font-size: 12px;
    margin-left: 18px;
}

.topnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 77px;
    height: 21px;
    border-radius: 16px;
    border: 1px solid #c1c8cb;
    box-shadow: 0px 2px 2px 0px rgba(202, 207, 210, 0.5);
}

.topnav i {
    color: #98a3a7;
    text-align: center;
    font-size: 12px;
}

.slider {
align-self: center;
}

nav {
    display: flex;
    align-self: center;
    width: 910px;
    height: 33px;
    margin-top: 3px;
    background-color: #1c1f22;
    background: linear-gradient(to bottom, #4d5663, #010101);
    border: 1px solid #2c345a;
    border-radius: 4px;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

nav ul {
    margin-left: 132px;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 5px 11px;
    border: 1px solid transparent;
}

nav li:hover {
    background-color: #185476;
    border-radius: 15px;
    background: linear-gradient(to bottom, #1f6787, #0d3458);
    border: 1px solid #09233b;
    padding: 2px 11px;
}

nav a:hover {
    color: #fff;
}

nav a {
    display: block;
    height: 100%;
    font-family: 'Lucida Sans Unicode Regular', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #b1bcc0;
    text-transform: uppercase;
}

.cart {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.cart p {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 11px;
    color: #929b9f;
    padding: 5px;
}

.cart span,
.cart i {
    color: #0d5a8f;
    font-size: 12px;
}

.forms {
    display: flex;
    justify-content: space-between;
    padding-left: 49px;
    padding-right: 51px;
    margin-top: 12px;
}

.fisrt_f {
    display: flex;
    width: 414px;
    height: 132px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 3px 4px 5px 0px rgba(150, 150, 150, 0.75);
}

.fisrt_f h4 {
    display: inline-block;
    font-family: 'Arial Black', sans-serif;
    font-size: 10px;
    color: #154468;
}

.fisrt_f h3 {
    display: inline-block;
    font-family: 'Arial Black', sans-serif;
    font-size: 12px;
    color: #154468;
}

.second_f {
    display: flex;
    width: 191px;
    height: 132px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 3px 4px 5px 0px rgba(150, 150, 150, 0.75);
}

.third_f {
    display: flex;
    width: 265px;
    height: 132px;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 3px 4px 5px 0px rgba(150, 150, 150, 0.75);
}

.content {
    display: flex;
    justify-content: space-around;
    padding-right: 46px;
    padding-left: 45px;
}

.left_side {
    padding-top: 19px;
}

.left_side li {
    list-style: none;
    padding-left: 35px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.left_side a:hover {
    color: #0c3256;
    font-family: 'arial', sans-serif;
    font-style: italic;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}

.left_side ul {
    padding-top: 3px;
    padding-bottom: 3px;
}

.left_side li::before {
    color: #8b979c;
    content: "○";
}


.left_side h2 {
    width: 170px;
    padding: 5px 7px 5px 3px;
    margin-bottom: 8px;
    font-family: 'Lucida Sans Unicode Regular', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #114165;
    border: 1px solid #8b979c;
    border-radius: 16px;
    line-height: 13px;
    box-shadow: 2px 3px 3px 0px rgba(150, 150, 150, 0.75);
}

.left_side i {
    color: #114165;
    font-size: 13px;
    vertical-align: middle;
}

.left_side h1 {
    font-family: 'Lucida Sans Unicode Regular', sans-serif;
    color: #114165;
    text-transform: uppercase;
    font-size: 14px;
    width: 68px;
    padding: 5px 75px 5px 3px;
    border: 1px solid #8b979c;
    border-radius: 16px;
    line-height: 14px;
}

.left_side a {
  font-family: 'Lucida Sans Unicode Regular', sans-serif;
  color: #465961;
  text-decoration: none;
  font-size: 13px;
  line-height: 13px;
}


.right_side {
    padding-top: 19px;
}

.right_side li {
    list-style: none;
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.right_side ul {
    padding-top: 3px;
    padding-bottom: 3px;
}

.right_side h2 {
    width: 170px;
    padding: 5px 7px 5px 3px;
    margin-bottom: 8px;
    font-family: 'Lucida Sans Unicode Regular', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #114165;
    border: 1px solid #8b979c;
    border-radius: 16px;
    line-height: 13px;
    box-shadow: 2px 3px 3px 0px rgba(150, 150, 150, 0.75);
}

.right_side i {
    color: #114165;
    font-size: 13px;
    vertical-align: middle;
}

.right_side h1 {
    font-family: 'Lucida Sans Unicode Regular', sans-serif;
    color: #114165;
    text-transform: uppercase;
    font-size: 14px;
    width: 68px;
    padding: 5px 61px 5px 3px;
    border: 1px solid #8b979c;
    border-radius: 16px;
    line-height: 14px;
    margin-left: 20px;
}

.right_side label {
  font-family: 'Lucida Sans Unicode Regular', sans-serif;
  color: #465961;
  text-decoration: none;
  font-size: 13px;
}

.tovar_bg {
  display: flex;
  width: 527px;
  height: 628px;
  margin-top: 15px;
  background-color: #e5e7e8;
  background: linear-gradient(to bottom, #e5e7e8, #93a7b0);
  border-radius:3px;
}

.tovar_bg ul {
    margin-left: 7px;
}

.tovar_bg div {
    display: inline-block;
    margin: 15px 14px 15px 14px;
}

.tovar_bg li {
   width: 136px;
   height: 127px;
   background-color: #fff;
   border: 1px solid #a7b1b4;
   border-radius: 4px;
   list-style: none;
}

.tovar_bg h3 {
    font-family: 'Lucida Sans Unicode Regular', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #206988;
    line-height: 15px;
}

.tovar_bg p {
    font-family: 'Lucida Sans Unicode Regular', sans-serif;
    font-size: 13px;
    text-align: center;
    color: #1f2528;
    line-height: 13px;
}

.tovar_bg span {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color: #114165;
    line-height: 16px;
    padding-left: 38px;
}

.tovar_bg img {
    display: block;
    margin: auto;
    margin-top: 3px;
}


.firms  {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 38px 162px 0 162px;
}

.s1,
.s4,
.s5,
.s6,
.s7,
.s8,
.s2,
.s3 {
  	background: url(../img/sprites.png) no-repeat;
}

.s1 {
  	background-position: -9px -16px ;
  	width: 83px;
  	height: 21px;
}

.s4 {
  	background-position: -220px -62px ;
  	width: 59px;
  	height: 21px;
}

.s5 {
  	background-position: -317px -21px ;
  	width: 77px;
  	height: 13px;
}

.s6 {
  	background-position: -415px -61px ;
  	width: 57px;
  	height: 27px;
}

.s7 {
  	background-position: -472px -22px ;
  	width: 61px;
  	height: 14px;
}

.s8 {
  	background-position: -556px -70px ;
  	width: 72px;
  	height: 13px;
}

.s2 {
  	background-position: -51px -65px ;
  	width: 97px;
  	height: 14px;
}

.s3 {
  	background-position: -161px -22px ;
  	width: 77px;
  	height: 21px;
}


.s1:hover {
    background: url(../img/sprites_hover.png) no-repeat;
    background-position: 0 -3px ;
  	width: 83px;
  	height: 21px;
}

.s2:hover {
    background: url(../img/sprites_hover.png) no-repeat;
    background-position: -92px -2px ;
    width: 97px;
    height: 14px;
}

.s3:hover {
    background: url(../img/sprites_hover.png) no-repeat;
    background-position: -199px -4px ;
    width: 77px;
    height: 21px;
}
.s4:hover {
    background: url(../img/sprites_hover.png) no-repeat;
    background-position: -287px -3px ;
    width: 59px;
    height: 21px;
}

.s5:hover {
    background: url(../img/sprites_hover.png) no-repeat;
    background-position: -358px -7px ;
    width: 77px;
    height: 13px;
}

.s6:hover {
    background: url(../img/sprites_hover.png) no-repeat;
    background-position: -447px 0;
    width: 57px;
    height: 27px;
}

.s7:hover {
    background: url(../img/sprites_hover.png) no-repeat;
    background-position: -516px -6px ;
    width: 61px;
    height: 14px;
}

.s8:hover {
    background: url(../img/sprites_hover.png) no-repeat;
  	background-position: -596px -6px ;
  	width: 72px;
  	height: 13px;
}

footer {
    flex: 0 0 auto;
    margin: 0 auto;
    margin-top: 25px;
    width: 908px;
    height: 100px;
    background-color: #213a4d;
    border: 1px solid #242c3e;
}

footer ul {
    margin-left: 296px;
    margin-top: 11px;
    line-height: 12px;
}

footer li {
    display: inline-block;
    list-style: none;
    color: #bec6c9;
    font-size: 12px;
    font-family: arial, sans-serif;
}


footer a {
    font-family: Arial, sans-serif;
    color: #bec6c9;
    font-size: 12px;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
}

footer li::after {
    content: "|";
}

footer li:last-child:after {
    content: "";
}

footer a:hover {
    color: #52abcb;
}

footer p {
    font-family: arial, serif;
    font-size: 10px;
    color: #7f4740;
    text-align: center;
    padding-top: 16px;
}
